ale_py==0.11.2
av==15.1.0
cloudpickle==3.1.1
d4rl==1.1
deepdiff==8.6.1
diffusers==0.11.1
draccus==0.11.5
dynamixel_sdk==3.8.4
einops==0.8.1
env==0.1.0
Flask==3.1.2
furniture_bench==0.1
gdown==5.2.0
grpcio==1.59.3
gym_aloha==0.1.1
gym_hil==0.1.11
gym_pusht==0.1.5
gymnasium==1.2.1
gymnasium_robotics==1.4.1
h5py==3.12.1
hid==1.0.8
huggingface_hub==0.23.4
hydra-core==1.3.2
imageio==2.36.1
jax==0.7.2
jsonlines==4.0.0
matplotlib==3.10.6
mock_serial==0.0.1
moviepy==2.2.1
mujoco==3.3.6
numpy==1.21.5
omegaconf==2.3.0
opencv_python==4.10.0.84
opencv_python_headless==4.11.0.86
orbax==0.1.9
packaging==21.3
pandas==2.3.3
Pillow==9.0.1
Pillow==11.3.0
placo==0.9.14
pretty_errors==1.2.25
protobuf==6.32.1
psutil==7.1.0
psutil==6.0.0
pyarrow==16.1.0
pygame==2.6.1
pynput==1.8.1
pyrealsense2==2.56.5.9235
pyserial==3.5
pytest==8.4.2
pyzmq==27.1.0
Requests==2.32.5
rerun==1.0.30
robosuite==1.5.1
safetensors==0.6.2
scipy==1.16.2
setuptools==69.5.1
setuptools==59.6.0
shimmy==2.0.0
skimage==0.0
sphinx_copybutton==0.5.2
sphinxcontrib_programoutput==0.18
tensorboard==2.20.0
termcolor==3.1.0
torch==2.8.0
torchcodec==0.7.0
torchdiffeq==0.2.5
torchvision==0.23.0
tqdm==4.67.1
transformers==4.41.2
